n8n/workflows/lead-discovery.reference.json
{"updatedAt":"2026-03-24T14:18:19.000Z","createdAt":"2026-03-23T13:14:34.670Z","id":"goCMif5wfsviXIs5","name":"lead-discovery","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[0,300],"parameters":{"path":"lead-discovery","httpMethod":"POST","responseMode":"responseNode","options":{}},"typeVersion":2,"webhookId":"lead-discovery-id"},{"id":"build-queries","name":"Build Queries","type":"n8n-nodes-base.code","position":[300,300],"parameters":{"jsCode":"const { cities = [], categories = [], batch_size = 20 } = $input.first().json.body;\nconst apiKey = process.env.GOOGLE_API_KEY || '';\n\nconst queries = [];\nfor (const city of cities) {\n  for (const category of categories) {\n    queries.push({\n      json: {\n        query: `${category} in ${city}`,\n        city,\n        category,\n        batch_size,\n        apiKey\n      }\n    });\n  }\n}\n\nif (queries.length === 0) {\n  queries.push({ json: { query: 'restaurants in Kuala Lumpur', city: 'Kuala Lumpur', category: 'restaurants', batch_size: 20, apiKey } });\n}\n\nreturn queries;"},"typeVersion":2},{"id":"google-maps-api","name":"Google Maps Places API","type":"n8n-nodes-base.httpRequest","position":[600,300],"parameters":{"url":"https://places.googleapis.com/v1/places:searchText","method":"POST","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ textQuery: $json.query, maxResultCount: $json.batch_size || 20 }) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Api-Key","value":"={{ $json.apiKey }}"},{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.primaryType,places.formattedAddress,places.nationalPhoneNumber,places.websiteUri,places.rating,places.userRatingCount,places.photos,places.googleMapsUri"},{"name":"Content-Type","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":500}}}},"typeVersion":4.2},{"id":"split-places","name":"Split Places","type":"n8n-nodes-base.code","position":[900,300],"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) {\n  const places = item.json.places || [];\n  for (const place of places) {\n    items.push({\n      json: {\n        place_id: place.id,\n        name: place.displayName?.text || '',\n        type: place.primaryType || '',\n        address: place.formattedAddress || '',\n        phone: place.nationalPhoneNumber || '',\n        website: place.websiteUri || '',\n        rating: place.rating || 0,\n        review_count: place.userRatingCount || 0,\n        photos_count: (place.photos || []).length,\n        photo_refs: (place.photos || []).map(p => p.name),\n        maps_url: place.googleMapsUri || '',\n        query: item.json.query || '',\n        city: item.json.city || '',\n        category: item.json.category || ''\n      }\n    });\n  }\n}\nreturn items.length > 0 ? items : [{ json: { error: 'No places found' } }];"},"typeVersion":2},{"id":"filter-no-website","name":"Filter No Website","type":"n8n-nodes-base.if","position":[1200,300],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"cond-no-website-1","operator":{"type":"string","operation":"empty"},"leftValue":"={{ $json.website }}","rightValue":""},{"id":"cond-no-website-2","operator":{"type":"string","operation":"notExists"},"leftValue":"={{ $json.website }}","rightValue":""}]}},"typeVersion":2.2},{"id":"gemini-classify","name":"Gemini Classification","type":"n8n-nodes-base.code","position":[1500,200],"parameters":{"jsCode":"// Gemini classification: determine industry and lead quality\nconst leads = $input.all();\nconst results = [];\nconst apiKey = process.env.GOOGLE_API_KEY || '';\n\nfor (const lead of leads) {\n  const { name, type, category, city, address, rating, review_count } = lead.json;\n  \n  const prompt = `Classify this Malaysian business for a web design lead generation campaign.\nBusiness: ${name}\nType: ${type}\nCategory: ${category}\nCity: ${city}\nAddress: ${address}\nRating: ${rating} (${review_count} reviews)\n\nReturn JSON with: { \"industry\": \"<specific industry>\", \"sub_industry\": \"<sub category>\", \"lead_score\": <1-10>, \"website_urgency\": \"<low|medium|high|critical>\", \"reasoning\": \"<brief explanation>\" }`;\n\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${apiKey}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ parts: [{ text: prompt }] }],\n        generationConfig: { responseMimeType: 'application/json' }\n      }\n    });\n    \n    const text = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n    const classification = JSON.parse(text);\n    \n    results.push({\n      json: {\n        ...lead.json,\n        industry: classification.industry || category,\n        sub_industry: classification.sub_industry || '',\n        lead_score: classification.lead_score || 5,\n        website_urgency: classification.website_urgency || 'medium',\n        classification_reasoning: classification.reasoning || '',\n        status: 'new',\n        discovered_at: new Date().toISOString()\n      }\n    });\n  } catch (err) {\n    results.push({\n      json: {\n        ...lead.json,\n        industry: category,\n        sub_industry: '',\n        lead_score: 5,\n        website_urgency: 'medium',\n        classification_reasoning: 'Gemini API error: ' + err.message,\n        status: 'new',\n        discovered_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"},"typeVersion":2},{"id":"sheets-append-placeholder","name":"Google Sheets Append","type":"n8n-nodes-base.googleSheets","position":[1800,200],"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"16Jr3k5OZD02p7-HMSkda5jyKApPbE_KAureiV4ovYOk"},"sheetName":{"__rl":true,"mode":"name","value":"Leads"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"Cm08O9cPWBANNWMw","name":"Google Sheets (DuoCode)"}}},{"id":"build-response","name":"Build Response","type":"n8n-nodes-base.code","position":[2100,200],"parameters":{"jsCode":"const leads = $input.all();\nconst summary = {\n  total_leads: leads.length,\n  by_industry: {},\n  by_urgency: { low: 0, medium: 0, high: 0, critical: 0 },\n  avg_lead_score: 0,\n  timestamp: new Date().toISOString()\n};\n\nlet scoreSum = 0;\nfor (const lead of leads) {\n  const ind = lead.json.industry || 'unknown';\n  summary.by_industry[ind] = (summary.by_industry[ind] || 0) + 1;\n  const urg = lead.json.website_urgency || 'medium';\n  if (summary.by_urgency[urg] !== undefined) summary.by_urgency[urg]++;\n  scoreSum += lead.json.lead_score || 0;\n}\nsummary.avg_lead_score = leads.length > 0 ? Math.round((scoreSum / leads.length) * 10) / 10 : 0;\n\nreturn [{ json: summary }];"},"typeVersion":2},{"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[2400,200],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"typeVersion":1.1}],"connections":{"Webhook Trigger":{"main":[[{"node":"Build Queries","type":"main","index":0}]]},"Build Queries":{"main":[[{"node":"Google Maps Places API","type":"main","index":0}]]},"Google Maps Places API":{"main":[[{"node":"Split Places","type":"main","index":0}]]},"Split Places":{"main":[[{"node":"Filter No Website","type":"main","index":0}]]},"Filter No Website":{"main":[[{"node":"Gemini Classification","type":"main","index":0}],[]]},"Gemini Classification":{"main":[[{"node":"Google Sheets Append","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Sheets Append":{"main":[[{"node":"Build Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"5db6f498-cd95-4dcb-b80c-25b9be442ddb","activeVersionId":"5db6f498-cd95-4dcb-b80c-25b9be442ddb","versionCounter":30,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-23T13:14:34.675Z","createdAt":"2026-03-23T13:14:34.675Z","role":"workflow:owner","workflowId":"goCMif5wfsviXIs5","projectId":"q4dXsuJzhJK6N4X1","project":{"updatedAt":"2026-03-24T11:47:39.493Z","createdAt":"2026-03-23T13:02:32.255Z","id":"q4dXsuJzhJK6N4X1","name":"Liu Wei <duocodetechu@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"99904267-68ab-430e-abde-6e2cc0eadac9"}}],"versionMetadata":{"name":null,"description":null}}