n8n/workflows/lead-status.json
{"updatedAt":"2026-03-24T14:18:20.000Z","createdAt":"2026-03-23T13:14:42.345Z","id":"iN89Sm7Uj4bH9NaU","name":"lead-status","description":null,"active":true,"isArchived":false,"nodes":[{"id":"ls-webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[0,300],"parameters":{"path":"lead-status","httpMethod":"POST","responseMode":"responseNode","options":{}},"typeVersion":2,"webhookId":"lead-status-id"},{"id":"ls-read-placeholder","name":"Google Sheets Read","type":"n8n-nodes-base.googleSheets","position":[300,300],"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"16Jr3k5OZD02p7-HMSkda5jyKApPbE_KAureiV4ovYOk"},"sheetName":{"__rl":true,"mode":"name","value":"Leads"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"Cm08O9cPWBANNWMw","name":"Google Sheets (DuoCode)"}}},{"id":"ls-filter-aggregate","name":"Filter and Aggregate","type":"n8n-nodes-base.code","position":[600,300],"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body || {};\nconst filter = body.filter || {};\nconst wantSummary = body.summary === true;\n\nlet leads = $input.all().map(item => item.json);\n\n// Handle placeholder response\nif (leads.length === 1 && leads[0]._placeholder) {\n  return [{ json: leads[0] }];\n}\n\n// Apply filters\nif (filter.status) {\n  leads = leads.filter(l => (l.status || '').toLowerCase() === filter.status.toLowerCase());\n}\nif (filter.industry) {\n  leads = leads.filter(l => (l.industry || '').toLowerCase().includes(filter.industry.toLowerCase()));\n}\n\nif (wantSummary) {\n  const summary = {\n    total: leads.length,\n    by_status: {},\n    by_industry: {},\n    avg_lead_score: 0,\n    by_urgency: {}\n  };\n  \n  let scoreSum = 0;\n  for (const lead of leads) {\n    const status = lead.status || 'unknown';\n    summary.by_status[status] = (summary.by_status[status] || 0) + 1;\n    const industry = lead.industry || 'unknown';\n    summary.by_industry[industry] = (summary.by_industry[industry] || 0) + 1;\n    const urgency = lead.website_urgency || 'unknown';\n    summary.by_urgency[urgency] = (summary.by_urgency[urgency] || 0) + 1;\n    scoreSum += parseFloat(lead.lead_score) || 0;\n  }\n  summary.avg_lead_score = leads.length > 0 ? Math.round((scoreSum / leads.length) * 10) / 10 : 0;\n  \n  return [{ json: { type: 'summary', ...summary } }];\n} else {\n  return [{ json: { type: 'leads', total: leads.length, leads } }];\n}"},"typeVersion":2},{"id":"ls-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[900,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"typeVersion":1.1}],"connections":{"Webhook Trigger":{"main":[[{"node":"Google Sheets Read","type":"main","index":0}]]},"Filter and Aggregate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Sheets Read":{"main":[[{"node":"Filter and Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"e675e41a-c09e-417c-9d1b-68eee8a53907","activeVersionId":"e675e41a-c09e-417c-9d1b-68eee8a53907","versionCounter":24,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-23T13:14:42.347Z","createdAt":"2026-03-23T13:14:42.347Z","role":"workflow:owner","workflowId":"iN89Sm7Uj4bH9NaU","projectId":"q4dXsuJzhJK6N4X1","project":{"updatedAt":"2026-03-24T11:47:39.493Z","createdAt":"2026-03-23T13:02:32.255Z","id":"q4dXsuJzhJK6N4X1","name":"Liu Wei <duocodetechu@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"99904267-68ab-430e-abde-6e2cc0eadac9"}}],"versionMetadata":{"name":null,"description":null}}