n8n/workflows/log-work.json
{
  "name": "log-work",
  "nodes": [
    {
      "id": "w1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        200,
        300
      ],
      "parameters": {
        "path": "log-work",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "typeVersion": 2,
      "webhookId": "log-work-new"
    },
    {
      "id": "c1",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    place_id: body.place_id || '',\n    slug: body.slug || '',\n    action: body.action || '',\n    result: typeof body.result === 'object' ? JSON.stringify(body.result) : (body.result || ''),\n    qa_score: body.qa_score ?? '',\n    url: body.url || '',\n    details: typeof body.details === 'object' ? JSON.stringify(body.details) : (body.details || '')\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "s1",
      "name": "Write to WorkLog",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        600,
        300
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "16Jr3k5OZD02p7-HMSkda5jyKApPbE_KAureiV4ovYOk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "WorkLog"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cm08O9cPWBANNWMw",
          "name": "Google Sheets (DuoCode)"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Write to WorkLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "log-work-v2"
}