n8n/workflows/log-lead.json
{"id":"log-lead-v1","name":"log-lead","description":"Log discovered leads to Sheets Leads tab","active":true,"nodes":[{"id":"ll-wh","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"parameters":{"path":"log-lead","httpMethod":"POST","responseMode":"lastNode"},"typeVersion":2,"webhookId":"log-lead-wh"},{"id":"ll-prep","name":"Prepare","type":"n8n-nodes-base.code","position":[400,300],"parameters":{"jsCode":"const body = $input.first().json.body || {};\nreturn [{\n  json: {\n    place_id: body.place_id || '',\n    name: body.name || '',\n    slug: body.slug || '',\n    industry: body.industry || '',\n    address: body.address || '',\n    phone: body.phone || '',\n    rating: body.rating ?? '',\n    reviews_count: body.reviews_count ?? '',\n    maps_url: body.maps_url || '',\n    status: body.status || 'discovered',\n    qa_score: '',\n    url: '',\n    github_repo: '',\n    created_at: new Date().toISOString()\n  }\n}];"},"typeVersion":2},{"id":"ll-sheet","name":"Write to Leads","type":"n8n-nodes-base.googleSheets","position":[600,300],"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"16Jr3k5OZD02p7-HMSkda5jyKApPbE_KAureiV4ovYOk"},"sheetName":{"__rl":true,"mode":"name","value":"Leads"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"Cm08O9cPWBANNWMw","name":"Google Sheets (DuoCode)"}}}],"connections":{"Webhook":{"main":[[{"node":"Prepare","type":"main","index":0}]]},"Prepare":{"main":[[{"node":"Write to Leads","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null}
