n8n/workflows/prepare-assets.json
{
  "updatedAt": "2026-03-23T13:14:48.614Z",
  "createdAt": "2026-03-23T13:14:39.224Z",
  "id": "8tlB8s7Cd8w3rVMh",
  "name": "prepare-assets",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "pa-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "parameters": {
        "path": "prepare-assets",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2,
      "webhookId": "prepare-assets-id"
    },
    {
      "id": "pa-download-photos",
      "name": "Download Maps Photos",
      "type": "n8n-nodes-base.code",
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst { place_id, industry, photos_refs = [], output_dir } = $input.first().json.body;\nconst dir = output_dir || `/data/assets/${place_id}`;\n\n// Ensure directory exists\nfs.mkdirSync(dir, { recursive: true });\nfs.mkdirSync(path.join(dir, 'originals'), { recursive: true });\nfs.mkdirSync(path.join(dir, 'optimized'), { recursive: true });\n\nconst downloaded = [];\nconst apiKey = process.env.GOOGLE_API_KEY || $env.GOOGLE_API_KEY;\n\nfor (let i = 0; i < photos_refs.length; i++) {\n  const ref = photos_refs[i];\n  try {\n    const url = `https://places.googleapis.com/v1/${ref}/media?maxHeightPx=1200&maxWidthPx=1600&key=${apiKey}`;\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n    \n    const filename = `photo_${i}.jpg`;\n    const filepath = path.join(dir, 'originals', filename);\n    fs.writeFileSync(filepath, Buffer.from(response.body));\n    downloaded.push({ index: i, filename, filepath, source: 'google_maps' });\n  } catch (err) {\n    downloaded.push({ index: i, error: err.message, source: 'google_maps' });\n  }\n}\n\nreturn [{\n  json: {\n    place_id,\n    industry,\n    output_dir: dir,\n    photos_refs,\n    downloaded,\n    downloaded_count: downloaded.filter(d => !d.error).length,\n    needs_unsplash: downloaded.filter(d => !d.error).length < 3\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "pa-unsplash",
      "name": "Unsplash Fallback",
      "type": "n8n-nodes-base.code",
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst data = $input.first().json;\nconst { place_id, industry, output_dir, downloaded_count, needs_unsplash } = data;\n\nlet unsplash_photos = [];\n\nif (needs_unsplash) {\n  const needed = Math.max(0, 3 - downloaded_count);\n  const unsplashKey = process.env.UNSPLASH_ACCESS_KEY || $env.UNSPLASH_ACCESS_KEY || '';\n  \n  if (unsplashKey && needed > 0) {\n    try {\n      const searchUrl = `https://api.unsplash.com/search/photos?query=${encodeURIComponent(industry)}&per_page=${needed}&orientation=landscape`;\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: searchUrl,\n        headers: { 'Authorization': `Client-ID ${unsplashKey}` }\n      });\n      \n      const results = response.results || [];\n      for (let i = 0; i < results.length; i++) {\n        const photo = results[i];\n        try {\n          const imgResponse = await this.helpers.httpRequest({\n            method: 'GET',\n            url: photo.urls.regular,\n            encoding: 'arraybuffer',\n            returnFullResponse: true\n          });\n          \n          const filename = `unsplash_${i}.jpg`;\n          const filepath = path.join(output_dir, 'originals', filename);\n          fs.writeFileSync(filepath, Buffer.from(imgResponse.body));\n          unsplash_photos.push({\n            index: i,\n            filename,\n            filepath,\n            source: 'unsplash',\n            credit: photo.user?.name || 'Unsplash',\n            unsplash_id: photo.id\n          });\n        } catch (e) {\n          unsplash_photos.push({ index: i, error: e.message, source: 'unsplash' });\n        }\n      }\n    } catch (err) {\n      unsplash_photos.push({ error: 'Unsplash search failed: ' + err.message });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...data,\n    unsplash_photos,\n    total_photos: downloaded_count + unsplash_photos.filter(p => !p.error).length\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "pa-colors",
      "name": "Extract Brand Colors",
      "type": "n8n-nodes-base.code",
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst Vibrant = require('node-vibrant');\n\nconst data = $input.first().json;\nconst { output_dir } = data;\nconst originalsDir = path.join(output_dir, 'originals');\n\nlet brandColors = {\n  primary: '#1a73e8',\n  secondary: '#174ea6',\n  accent: '#ea4335',\n  background: '#ffffff',\n  text: '#202124'\n};\n\ntry {\n  const files = fs.readdirSync(originalsDir).filter(f => f.endsWith('.jpg') || f.endsWith('.png'));\n  \n  if (files.length > 0) {\n    const firstImage = path.join(originalsDir, files[0]);\n    const palette = await Vibrant.from(firstImage).getPalette();\n    \n    brandColors = {\n      primary: palette.Vibrant?.hex || '#1a73e8',\n      secondary: palette.DarkVibrant?.hex || '#174ea6',\n      accent: palette.LightVibrant?.hex || '#ea4335',\n      background: palette.LightMuted?.hex || '#ffffff',\n      text: palette.DarkMuted?.hex || '#202124'\n    };\n  }\n} catch (err) {\n  // Keep defaults on error\n}\n\n// Write brand-colors.json\nfs.writeFileSync(\n  path.join(output_dir, 'brand-colors.json'),\n  JSON.stringify(brandColors, null, 2)\n);\n\nreturn [{ json: { ...data, brand_colors: brandColors } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "pa-optimize",
      "name": "Optimize Images",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst sharp = require('sharp');\n\nconst data = $input.first().json;\nconst { output_dir } = data;\nconst originalsDir = path.join(output_dir, 'originals');\nconst optimizedDir = path.join(output_dir, 'optimized');\n\nconst variants = [\n  { suffix: 'hero', width: 1920, height: 1080 },\n  { suffix: 'card', width: 640, height: 480 },\n  { suffix: 'thumb', width: 320, height: 240 }\n];\n\nconst optimized = [];\n\ntry {\n  const files = fs.readdirSync(originalsDir).filter(f => f.endsWith('.jpg') || f.endsWith('.png'));\n  \n  for (const file of files) {\n    const inputPath = path.join(originalsDir, file);\n    const baseName = path.parse(file).name;\n    \n    for (const variant of variants) {\n      const outputFile = `${baseName}_${variant.suffix}.webp`;\n      const outputPath = path.join(optimizedDir, outputFile);\n      \n      try {\n        await sharp(inputPath)\n          .resize(variant.width, variant.height, { fit: 'cover' })\n          .webp({ quality: 85 })\n          .toFile(outputPath);\n        \n        optimized.push({\n          original: file,\n          variant: variant.suffix,\n          output: outputFile,\n          width: variant.width,\n          height: variant.height\n        });\n      } catch (e) {\n        optimized.push({ original: file, variant: variant.suffix, error: e.message });\n      }\n    }\n  }\n} catch (err) {\n  // Continue with empty optimized list\n}\n\nreturn [{ json: { ...data, optimized_images: optimized, optimized_count: optimized.filter(o => !o.error).length } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "pa-manifest",
      "name": "Write Manifest",
      "type": "n8n-nodes-base.code",
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst data = $input.first().json;\nconst { place_id, industry, output_dir, brand_colors, downloaded, unsplash_photos, optimized_images, total_photos, optimized_count } = data;\n\nconst manifest = {\n  place_id,\n  industry,\n  generated_at: new Date().toISOString(),\n  brand_colors,\n  originals: [\n    ...(downloaded || []).filter(d => !d.error).map(d => ({ ...d })),\n    ...(unsplash_photos || []).filter(p => !p.error).map(p => ({ ...p }))\n  ],\n  optimized: (optimized_images || []).filter(o => !o.error),\n  stats: {\n    total_originals: total_photos || 0,\n    total_optimized: optimized_count || 0,\n    variants: ['hero', 'card', 'thumb']\n  }\n};\n\nfs.writeFileSync(\n  path.join(output_dir, 'image-manifest.json'),\n  JSON.stringify(manifest, null, 2)\n);\n\nreturn [{\n  json: {\n    status: 'success',\n    place_id,\n    output_dir,\n    brand_colors,\n    total_originals: total_photos || 0,\n    total_optimized: optimized_count || 0\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "pa-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1800,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Download Maps Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Maps Photos": {
      "main": [
        [
          {
            "node": "Unsplash Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsplash Fallback": {
      "main": [
        [
          {
            "node": "Extract Brand Colors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Brand Colors": {
      "main": [
        [
          {
            "node": "Optimize Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Images": {
      "main": [
        [
          {
            "node": "Write Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Manifest": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "02292acb-9de4-4300-b071-b0fe994073f3",
  "activeVersionId": "02292acb-9de4-4300-b071-b0fe994073f3",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T13:14:39.226Z",
      "createdAt": "2026-03-23T13:14:39.226Z",
      "role": "workflow:owner",
      "workflowId": "8tlB8s7Cd8w3rVMh",
      "projectId": "q4dXsuJzhJK6N4X1",
      "project": {
        "updatedAt": "2026-03-23T13:04:58.636Z",
        "createdAt": "2026-03-23T13:02:32.255Z",
        "id": "q4dXsuJzhJK6N4X1",
        "name": "Code Duo <duocodetechu@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "99904267-68ab-430e-abde-6e2cc0eadac9"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-03-23T13:14:39.227Z",
    "createdAt": "2026-03-23T13:14:39.227Z",
    "versionId": "02292acb-9de4-4300-b071-b0fe994073f3",
    "workflowId": "8tlB8s7Cd8w3rVMh",
    "nodes": [
      {
        "id": "pa-webhook",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "position": [
          0,
          300
        ],
        "parameters": {
          "path": "prepare-assets",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "typeVersion": 2,
        "webhookId": "prepare-assets-id"
      },
      {
        "id": "pa-download-photos",
        "name": "Download Maps Photos",
        "type": "n8n-nodes-base.code",
        "position": [
          300,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst { place_id, industry, photos_refs = [], output_dir } = $input.first().json.body;\nconst dir = output_dir || `/data/assets/${place_id}`;\n\n// Ensure directory exists\nfs.mkdirSync(dir, { recursive: true });\nfs.mkdirSync(path.join(dir, 'originals'), { recursive: true });\nfs.mkdirSync(path.join(dir, 'optimized'), { recursive: true });\n\nconst downloaded = [];\nconst apiKey = process.env.GOOGLE_API_KEY || $env.GOOGLE_API_KEY;\n\nfor (let i = 0; i < photos_refs.length; i++) {\n  const ref = photos_refs[i];\n  try {\n    const url = `https://places.googleapis.com/v1/${ref}/media?maxHeightPx=1200&maxWidthPx=1600&key=${apiKey}`;\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n    \n    const filename = `photo_${i}.jpg`;\n    const filepath = path.join(dir, 'originals', filename);\n    fs.writeFileSync(filepath, Buffer.from(response.body));\n    downloaded.push({ index: i, filename, filepath, source: 'google_maps' });\n  } catch (err) {\n    downloaded.push({ index: i, error: err.message, source: 'google_maps' });\n  }\n}\n\nreturn [{\n  json: {\n    place_id,\n    industry,\n    output_dir: dir,\n    photos_refs,\n    downloaded,\n    downloaded_count: downloaded.filter(d => !d.error).length,\n    needs_unsplash: downloaded.filter(d => !d.error).length < 3\n  }\n}];"
        },
        "typeVersion": 2
      },
      {
        "id": "pa-unsplash",
        "name": "Unsplash Fallback",
        "type": "n8n-nodes-base.code",
        "position": [
          600,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst data = $input.first().json;\nconst { place_id, industry, output_dir, downloaded_count, needs_unsplash } = data;\n\nlet unsplash_photos = [];\n\nif (needs_unsplash) {\n  const needed = Math.max(0, 3 - downloaded_count);\n  const unsplashKey = process.env.UNSPLASH_ACCESS_KEY || $env.UNSPLASH_ACCESS_KEY || '';\n  \n  if (unsplashKey && needed > 0) {\n    try {\n      const searchUrl = `https://api.unsplash.com/search/photos?query=${encodeURIComponent(industry)}&per_page=${needed}&orientation=landscape`;\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: searchUrl,\n        headers: { 'Authorization': `Client-ID ${unsplashKey}` }\n      });\n      \n      const results = response.results || [];\n      for (let i = 0; i < results.length; i++) {\n        const photo = results[i];\n        try {\n          const imgResponse = await this.helpers.httpRequest({\n            method: 'GET',\n            url: photo.urls.regular,\n            encoding: 'arraybuffer',\n            returnFullResponse: true\n          });\n          \n          const filename = `unsplash_${i}.jpg`;\n          const filepath = path.join(output_dir, 'originals', filename);\n          fs.writeFileSync(filepath, Buffer.from(imgResponse.body));\n          unsplash_photos.push({\n            index: i,\n            filename,\n            filepath,\n            source: 'unsplash',\n            credit: photo.user?.name || 'Unsplash',\n            unsplash_id: photo.id\n          });\n        } catch (e) {\n          unsplash_photos.push({ index: i, error: e.message, source: 'unsplash' });\n        }\n      }\n    } catch (err) {\n      unsplash_photos.push({ error: 'Unsplash search failed: ' + err.message });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...data,\n    unsplash_photos,\n    total_photos: downloaded_count + unsplash_photos.filter(p => !p.error).length\n  }\n}];"
        },
        "typeVersion": 2
      },
      {
        "id": "pa-colors",
        "name": "Extract Brand Colors",
        "type": "n8n-nodes-base.code",
        "position": [
          900,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst Vibrant = require('node-vibrant');\n\nconst data = $input.first().json;\nconst { output_dir } = data;\nconst originalsDir = path.join(output_dir, 'originals');\n\nlet brandColors = {\n  primary: '#1a73e8',\n  secondary: '#174ea6',\n  accent: '#ea4335',\n  background: '#ffffff',\n  text: '#202124'\n};\n\ntry {\n  const files = fs.readdirSync(originalsDir).filter(f => f.endsWith('.jpg') || f.endsWith('.png'));\n  \n  if (files.length > 0) {\n    const firstImage = path.join(originalsDir, files[0]);\n    const palette = await Vibrant.from(firstImage).getPalette();\n    \n    brandColors = {\n      primary: palette.Vibrant?.hex || '#1a73e8',\n      secondary: palette.DarkVibrant?.hex || '#174ea6',\n      accent: palette.LightVibrant?.hex || '#ea4335',\n      background: palette.LightMuted?.hex || '#ffffff',\n      text: palette.DarkMuted?.hex || '#202124'\n    };\n  }\n} catch (err) {\n  // Keep defaults on error\n}\n\n// Write brand-colors.json\nfs.writeFileSync(\n  path.join(output_dir, 'brand-colors.json'),\n  JSON.stringify(brandColors, null, 2)\n);\n\nreturn [{ json: { ...data, brand_colors: brandColors } }];"
        },
        "typeVersion": 2
      },
      {
        "id": "pa-optimize",
        "name": "Optimize Images",
        "type": "n8n-nodes-base.code",
        "position": [
          1200,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst sharp = require('sharp');\n\nconst data = $input.first().json;\nconst { output_dir } = data;\nconst originalsDir = path.join(output_dir, 'originals');\nconst optimizedDir = path.join(output_dir, 'optimized');\n\nconst variants = [\n  { suffix: 'hero', width: 1920, height: 1080 },\n  { suffix: 'card', width: 640, height: 480 },\n  { suffix: 'thumb', width: 320, height: 240 }\n];\n\nconst optimized = [];\n\ntry {\n  const files = fs.readdirSync(originalsDir).filter(f => f.endsWith('.jpg') || f.endsWith('.png'));\n  \n  for (const file of files) {\n    const inputPath = path.join(originalsDir, file);\n    const baseName = path.parse(file).name;\n    \n    for (const variant of variants) {\n      const outputFile = `${baseName}_${variant.suffix}.webp`;\n      const outputPath = path.join(optimizedDir, outputFile);\n      \n      try {\n        await sharp(inputPath)\n          .resize(variant.width, variant.height, { fit: 'cover' })\n          .webp({ quality: 85 })\n          .toFile(outputPath);\n        \n        optimized.push({\n          original: file,\n          variant: variant.suffix,\n          output: outputFile,\n          width: variant.width,\n          height: variant.height\n        });\n      } catch (e) {\n        optimized.push({ original: file, variant: variant.suffix, error: e.message });\n      }\n    }\n  }\n} catch (err) {\n  // Continue with empty optimized list\n}\n\nreturn [{ json: { ...data, optimized_images: optimized, optimized_count: optimized.filter(o => !o.error).length } }];"
        },
        "typeVersion": 2
      },
      {
        "id": "pa-manifest",
        "name": "Write Manifest",
        "type": "n8n-nodes-base.code",
        "position": [
          1500,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst data = $input.first().json;\nconst { place_id, industry, output_dir, brand_colors, downloaded, unsplash_photos, optimized_images, total_photos, optimized_count } = data;\n\nconst manifest = {\n  place_id,\n  industry,\n  generated_at: new Date().toISOString(),\n  brand_colors,\n  originals: [\n    ...(downloaded || []).filter(d => !d.error).map(d => ({ ...d })),\n    ...(unsplash_photos || []).filter(p => !p.error).map(p => ({ ...p }))\n  ],\n  optimized: (optimized_images || []).filter(o => !o.error),\n  stats: {\n    total_originals: total_photos || 0,\n    total_optimized: optimized_count || 0,\n    variants: ['hero', 'card', 'thumb']\n  }\n};\n\nfs.writeFileSync(\n  path.join(output_dir, 'image-manifest.json'),\n  JSON.stringify(manifest, null, 2)\n);\n\nreturn [{\n  json: {\n    status: 'success',\n    place_id,\n    output_dir,\n    brand_colors,\n    total_originals: total_photos || 0,\n    total_optimized: optimized_count || 0\n  }\n}];"
        },
        "typeVersion": 2
      },
      {
        "id": "pa-respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          1800,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "typeVersion": 1.1
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Download Maps Photos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Maps Photos": {
        "main": [
          [
            {
              "node": "Unsplash Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unsplash Fallback": {
        "main": [
          [
            {
              "node": "Extract Brand Colors",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Brand Colors": {
        "main": [
          [
            {
              "node": "Optimize Images",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Optimize Images": {
        "main": [
          [
            {
              "node": "Write Manifest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Manifest": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Code Duo",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-23T13:16:18.309Z",
        "id": 2,
        "workflowId": "8tlB8s7Cd8w3rVMh",
        "versionId": "02292acb-9de4-4300-b071-b0fe994073f3",
        "event": "activated",
        "userId": "99904267-68ab-430e-abde-6e2cc0eadac9"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update",
    "workflow:updateRedactionSetting"
  ],
  "checksum": "a615c1081aa403493abb2c1cec90eb93f92a89eeeccd8b53ef5c2e3feeacb6a4"
}